@{
    Layout = "~/Views/Shared/Layout/_AdminLayout.cshtml";

}



<section class="content">
   
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Logged Ot</h3>
                </div>

              
            </div>
        </div>
    </div>
</section>


    <script>
       window.location.href='/auth/login';
    </script>


